@charset "UTF-8";
/* CSS Document */

body {
	font-family: Arial;
}

#heading {
	text-align: center;
	font-size: 50px;
	margin-top: 250px;
	
}

#navigation {
	text-align: center;
	font-weight: bolder;
	margin-bottom: 325px;
}

li {
	display: inline;
	padding: 20px;
	text-align: center;
	font-size: 2vw;
}

#footer {
	text-align: center;
	font-size: 10px;
}
